<%# CSS・・・assets/stylesheets/shared/header.css %>
<header class='top-page-header'>
  <div class='search-bar-contents'>
    <%= link_to image_tag("My project-6.png", class:"heartapp-icon-6"), "/" %>
  </div>
  <div class='nav'>
    <ul class='lists-left'>
      <li>
        <div class="search-field">
          <%= search_form_for Column.ransack(params[:q]), url: search_columns_path do |f| %>
          <%= f.label :genre_id_eq, 'コラムのカテゴリー', class: "category-list"  %>
          <br>
          <%= f.collection_select(:genre_id_eq,  Genre.all, :id, :name, {include_blank: "---"},{class:"genre-select-top"}) %>
        </div>
        <%= f.submit '検索' %>
        <% end %>
      </li>
      <li><%= link_to 'カレンダー', records_path, class: "calendar-list" %></li>
    </ul>
    <ul class='lists-right'>
      <% if user_signed_in? %>
        <li><%= link_to current_user.nickname, "#", class: "user-nickname" %></li>
        <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "logout" %></li> 
      <% else %>  
        <li><%= link_to 'ログイン', new_user_session_path, class: "login" %></li>
        <li><%= link_to '新規登録', new_user_registration_path, class: "sign-up" %></li>
      <% end %> 
      <% if user_signed_in? && current_user.admin? %>
        <li><%= link_to 'コラム投稿', new_admin_column_path, class:"post" %></li>
      <% end %>
    </ul>
  </div>
</header>



