<%= form_with url: admin_column_path, model: @column, local: true do |f| %>
  <div class="column-box">
    コラム編集ページ
    <%= f.text_field :title, class: "title", placeholder: "タイトル"  %>
    <%= f.text_area :text, class: "text", placeholder: "テキスト", rows: "5", cols: "30" %>
    <%= f.collection_select(:genre_id, Genre.all, :id, :name, {}, {class:"genre-select"}) %>
    <%= f.submit "修正する", class:"btn" %>
  </div>
<% end %>

